.bg-lovely{
    background-color: #000000;
}

H1{
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(255, 0, 0, 0.795);
    text-align: center;
}
.text {

    font-size:100px;
    text-align: center;
}

*, *::after, *::before {

  box-sizing: border-box;
}

:root {
  --cell-size: 100px
  --mark-size: cal(var(--cell-size) * .9);
}

body {

  margin: 0;

}

.board {

width: 1000px;
height: 1000px;
display: grid;
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
grid-template-columns: repeat(3, auto);

}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid rgb(124, 104, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.box{
  width: 1000px;
}